@import '../../node_modules/vuetify/src/stylus/bootstrap'
@import '../../node_modules/vuetify/src/stylus/theme'

/* Theme */
hide-textfield-details($material)

    div .v-text-field__details
            display none

theme(hide-textfield-details, 'hide-textfield-details')